/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Plus+Jakarta+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* Custom Bootstrap */

.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #cf8030;
}

/* DROPDOWN MEGA MENU */

li.navbar-dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}

li.navbar-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

li.navbar-dropdown .dropdown {
    visibility: hidden;
    background-color: #fff;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    top: 41.5px;
    width: 607px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.1);
    transition: 0.4s all;
}

.dd1 {
    left: -70px;
}

.dd2 {
    left: -172px;
}

.dd3 {
    left: -250px;
}

.dd4 {
    left: -387px;
}

a {
    text-decoration: none;
    color: black;
}

.nfsize {
    font-size: 0.875rem;
}

.garis-nav {
    border-left: 1px solid black;
    height: 50px;
    margin-top: 7px;
}

/* DROPDOWN MEGA MENU END*/

/* Effect active nav */
.active {
    position: relative;
}
.active .underline {
    position: absolute;
    bottom: -10.5px;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #cf8030;
    z-index: 10;
    border-radius: 5px;
}

/* Effect Hover Bottom */
/* .nav-d a {
    position: relative;
}

.nav-d a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    bottom: -10.5px;
    left: 0;
    z-index: 0;
    position: absolute;
    background: #f2050e;
    transition: all 0.3s ease-in-out;
}

.nav-d a:hover::after {
    width: 30px;
}

.dor {
    position: relative;
}

.dor::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    bottom: -9px;
    border-radius: 5px;
    left: 0;
    z-index: 0;
    position: absolute;
    background: #f2050e;
    transition: all 0.3s ease-in-out;
}

.dor:hover::after {
    width: 30px;
} */

/* Effect Hover  */
.test3 a {
    display: block;
    padding-left: 15px;
    margin-left: -30px;
    box-shadow: inset 0 0 0 0 #f2050e;
    border-radius: 4px;
    color: black;
    /* padding: 0 0.25rem; */
    /* margin: 0 -0.25rem; */
    transition: color 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
}
.test3 a:hover {
    color: #fff;
    box-shadow: inset 300px 0 0 0 #f2050e;
}

/* Effect Hover Baru */

.hvr {
    position: relative;
    transform: translateZ(0);
    display: block;
    padding: 14px 30px;
    border-radius: 4px;
    overflow: hidden;
    color: #171724;
    transition: 5s;
}

.hvr {
    display: flex;
}

.hvr:hover {
    color: white;
}

.hvr1.focus > .hvr,
.hvr1.opened > .hvr {
    color: white;
}

.hvr1.focus > .hvr::before,
.hvr1.opened > .hvr::before {
    padding: 100%;
    transition: padding 5s ease-in;
}

.hvr {
    color: black;
}

.hvr:hover {
    color: white;
}

.hvr {
    position: relative;
    display: block;
    padding: 4px 10px;
    border-radius: 4px;
    overflow: hidden;
    color: #171724;
    transition: 0.2s; /* Delay Tulisan */
}

.hvr::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 0;
    border-radius: 50%;
    z-index: -1;
    background: #cf8030; /* Warna Hover yg muncul */
    transition: padding 0.05s; /* Delay Warna saat Hilang */
}

.hvr {
    display: block;
}

.hvr:hover {
    color: white;
}

.hvr:hover::before {
    padding: 110%;
    transition: padding 0.35s ease-in; /* Delay Warna saat Muncul */
}

.hvr:hover {
    transition: 0.2s 0.1s;
    color: #fff;
}

.hvr1.focus > .hvr,
.hvr1.opened > .hvr {
    color: white;
}

.hvr1.focus > .hvr::before,
.hvr1.opened > .hvr::before {
    padding: 110%;
    transition: padding 0.25s ease-in;
}

.hvr {
    color: black;
}

.hvr:hover {
    color: white;
}

.hvr1.focus > .hvr,
.hvr1.active > .hvr,
.hvr1.opened > .hvr {
    color: white;
}

/* Effect Hover Baru END */

.navm {
    display: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23F2050E' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler {
    border: none;
}
.dropdown-menu {
    --bs-dropdown-border-color: none;
}

.test7 {
    float: right;
    margin-right: 18px;
}

/* Banner */
.bmgone {
    display: none;
}

/* Responsive */

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 991.9px) {
    .navd {
        display: none;
    }
    .navm {
        display: inherit;
    }
}

@media screen and (max-width: 768px) {
    .bmgone {
        display: inherit;
    }
    .bdgone {
        display: none;
    }
}
